@model List<RallyBaneTest.Models.Exercise>;

@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div id="exercises" style="float:right">
        <img src="/Images/Start.png" height="70" width="100" draggable="true"/>
        <img src="/Images/Mål.png" height="70" width="100" draggable="true"/>
        <img src="/Images/Øvelse3.png" height="70" width="100" draggable="true"/>
        <img src="/Images/Øvelse4.png" height="70" width="100" draggable="true"/>
        <img src="/Images/Øvelse5.png" height="70" width="100" draggable="true"/>
    </div>
    <div id="bane">
    </div>
</main>

<button onclick="DeleteNode()">Slet</button>

<script type="text/javascript">
    const myVar = @Html.Raw(Json.Serialize(Model));
</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/konva@9/konva.min.js"></script>
<script type="module" asp-append-version="true" src="/js/JavaScript.js"></script>