@model List<RallyBaneTest.Models.Exercise>;

@{
    ViewData["Title"] = "Home Page";
    ViewData["BaneImage"] = "/Images/Bane.png";
}

<input type="hidden" id="baneURL" value="@ViewData["BaneImage"]"/>

<div class="" id="bane">
    
</div>

<button onclick="DeleteNode()">Slet</button>

<script type="text/javascript">
    const myVar = @Html.Raw(Json.Serialize(Model));
</script>
<script src="https://unpkg.com/konva@9/konva.min.js"></script>
<script src="/js/JavaScript.js"></script>